<div style="font-family: Helvetica,Arial,sans-serif;line-height:2">
    <div style="margin:50px auto;width:90%;padding:20px 0; max-width: 800px;">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">123-KROATIEN</a>
      </div>
      <p style="font-size:1.1em">Hi {{name}},</p>
      <p>Thank you for choosing <b>123-KROATIEN</b>.</p>
      <p>Your account is now activated. Now you can add new listings.</p>
      <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{otp}}</h2>
      <p style="font-size:0.9em;">Regards, <br /><b>123-KROATIEN</b></p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>123-KROATIEN</p>
        <p>1600 Amphitheatre Parkway</p>
        <p>California</p>
      </div>
    </div>
  </div>