{% extends 'include/base.html' %}
{% load static %}
{% block body %}


<div class="container my-5">
  <form class="border p-3" style="width: 100%; max-width: 600px; margin: auto; " action="{% url 'account:forget_password' %}" method="POST">
    {% csrf_token %}
    <h1 class="text-center mb-4">{{ ForgetPassword }}</h1>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example12">{{ Email_fp }}</label>
      <input name="email" type="email" id="form2Example12" class="form-control" placeholder="{{ EnterEmail }}" />
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">{{ Verify_fp }}</button>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 mt-4"
        role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>{{ AlreadyHaveAccount }} <a href="{% url 'account:login' %}">{{ Login_fp }}</a></p>
      
    </div>
</form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


{% endblock %}