{% extends 'include/base.html' %} {% load static %} {% block body %}
<header>
  <div class="agbBg bg-theme-overlay">
    <section class="section__breadcrumb">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-capitalize text-white">AGB</h2>
            {% comment %}
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html" class="text-white"> {{ Home }} </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white"> Blog details </a>
              </li>
            </ul>
            {% endcomment %}
          </div>
        </div>
      </div>
    </section>
  </div>
</header>

<section class="bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h5>Allgemeine Geschäftsbedingungen (AGB) für die Nutzung von 123-Kroatien.eu</h5>
                <p>Stand: 01.05.2024</p>
                <h5>Geltungsbereich:</h5>
                <p>Die nachfolgenden Allgemeinen Geschäftsbedingungen (nachfolgend "AGB") regeln die Nutzung der Plattform 123-Kroatien.eu (nachfolgend "Plattform") durch die Nutzer (nachfolgend "Nutzer" oder "Sie"). Mit der Nutzung der Plattform erklären Sie sich mit diesen AGB einverstanden. Bitte lesen Sie diese AGB sorgfältig durch.</p>
                <h5>Nutzung der Plattform:</h5>
                <p>a. Die Plattform dient der Präsentation von Immobilienangeboten und -gesuchen.<br>
                b. Die Nutzung der Plattform erfolgt auf eigene Verantwortung. 123-Kroatien.eu übernimmt keine Gewähr für die Richtigkeit und Vollständigkeit der bereitgestellten Informationen.</p>
                <h5>Registrierung:</h5>
                <p>a. Für die Nutzung bestimmter Funktionen der Plattform ist eine Registrierung erforderlich.<br>
                b. Die bei der Registrierung angegebenen Daten müssen vollständig und korrekt sein. Der Nutzer ist verpflichtet, seine Zugangsdaten vertraulich zu behandeln.</p>
                <h5>Immobilienangebote und -gesuche:</h5>
                <p>a. Die Verantwortung für die Richtigkeit und Vollständigkeit von Immobilienangeboten und -gesuchen liegt bei den Nutzern.<br>
                b. 123-Kroatien.eu behält sich das Recht vor, Inhalte zu entfernen oder zu bearbeiten, die gegen geltendes Recht oder diese AGB verstoßen.</p>
                <h5>Provisionszahlungen:</h5>
                <p>a. Für die Nutzung der Plattform entstehen dem Nutzer keine Provisionszahlungen.<br>
                b. Im Falle von Immobilientransaktionen zwischen Nutzern der Plattform werden Provisionsvereinbarungen direkt zwischen den beteiligten Parteien getroffen.</p>
                <h5>Haftung:</h5>
                <p>a. 123-Kroatien.eu haftet nicht für Schäden, die aus der Nutzung der Plattform resultieren, es sei denn, sie beruhen auf Vorsatz oder grober Fahrlässigkeit von 123-Kroatien.eu.<br>
                b. Die Plattform kann Links zu externen Websites enthalten. 123-Kroatien.eu übernimmt keine Verantwortung für deren Inhalte oder Datenschutzpraktiken.</p>
                <h5>Datenschutz:</h5>
                <p>Die Erhebung, Verarbeitung und Nutzung personenbezogener Daten erfolgen gemäß den Datenschutzbestimmungen von 123-Kroatien.eu. Nähere Informationen finden Sie in der Datenschutzerklärung auf der Plattform.</p>
                <h5>Änderungen der AGB:</h5>
                <p>123-Kroatien.eu behält sich das Recht vor, diese AGB jederzeit zu ändern. Änderungen werden den Nutzern per E-Mail oder durch Veröffentlichung auf der Plattform mitgeteilt.</p>
                <h5>Schlussbestimmungen:</h5>
                <p>a. Es gilt das Recht der Republik Kroatien.<br>
                b. Gerichtsstand für alle Streitigkeiten aus oder im Zusammenhang mit diesen AGB ist das zuständige Gericht in Kroatien.<br>
                <br>
                Diese AGB treten mit ihrer Veröffentlichung auf der Plattform in Kraft.<br>
                Bei Fragen oder Anmerkungen zu diesen AGB kontaktieren Sie uns bitte unter [Kontaktinformationen einfügen].</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-gradient py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9">
        <h2 class="text-uppercase text-light">
          WIR GARANTIEREN IHNEN HÖCHSTE VERTRAULICHKEIT UND TRANSPARENZ.
        </h2>
        <p class="text-capitalize text-light">
          Gerne Informieren Wir Sie Diskret Über Den Aktuellen Wert Ihrer
          Immobilie Und Unterstützen Sie Bei Der Suche Nach Einem Passenden
          Käufer.
        </p>
      </div>
      {% comment %}
      <div class="col-lg-3">
        <a href="#" class="btn btn-light text-uppercase"
          >{{requestquote}} <i class="fa fa-angle-right ml-3 arrow-btn"></i
        ></a>
      </div>
      {% endcomment %}
    </div>
  </div>
</section>
<!-- END CALL TO ACTION -->



<div class="container">
  <div class="row">
    <div class="col-12">
      <img
        src="{% static 'images/logo-black2.png' %}"
        alt="logo"
        style="width: 255px; padding: 20px 0"
      />
    </div>
  </div>
</div>
{% endblock %}
