{% extends 'include/base.html' %}
{% load static %}
{% block body %}

<div class="myHeaderBg bg-theme-overlay">
    <section class="section__breadcrumb">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <ul class="list-inline ">
                        <li class="list-inline-item">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h5> Nutzen Sie die Gelegenheit und präsentieren Sie als Bauunternehmen Ihre Neubauprojekte jetzt
                    kostenlos auf <a href="https://123-kroatien.eu" target="_blank"><u>123-Kroatien.eu</u></a>!
                </h5>
                <p>123-Kroatien.eu heißt Sie herzlich willkommen auf unserer Plattform, der führenden Adresse für
                    die kostenlose und international ausgerichtete Vermarktung von Bauunternehmen in Kroatien. Unser
                    Ziel ist es, den Baugewerbe-Markt seriös und transparent abzubilden, indem wir Ihnen eine
                    kostenfreie Plattform bieten, auf der Sie sich international präsentieren können.</p>

                <h5>Unsere Kostenlose Dienstleistungen:</h5>
                <ol>
                    <li><strong>Optimale Online-Präsentation:</strong> Wir wissen um die Bedeutung des ersten
                        Eindrucks. Deshalb setzen wir auf professionelle Fotografie, ansprechende Beschreibungen und
                        innovative Technologien, um Ihr Bauprojekt-Portfolio bestmöglich zu präsentieren.
                        Potenzielle Auftraggeber sollen von Anfang an begeistert sein.</li>
                    <li><strong>SEO-Optimierung für Maximale Sichtbarkeit:</strong> Dank unserer
                        Suchmaschinenoptimierung (SEO) erscheinen Ihre Bauprojekte bei relevanten Suchanfragen
                        prominent. So erreichen Sie eine breite Zielgruppe von internationalen Interessenten, die
                        aktiv nach Bauleistungen in Kroatien suchen.</li>
                    <li><strong>Individuelle Profilerstellung:</strong> Jedes Bauunternehmen ist einzigartig. Wir
                        betonen die Besonderheiten Ihres Unternehmens durch individuelle Profilseiten, die
                        potenzielle Kunden beeindrucken. Heben Sie sich von der Konkurrenz ab und präsentieren Sie
                        Ihr Unternehmen in einem professionellen Licht.</li>
                    <li><strong>Vielfältige Projekte:</strong> Sie haben die Möglichkeit, bestehende Projekte
                        anzubieten und selbstverständlich auch Neubauobjekte, die Sie mit unseren internationalen
                        Interessenten gemeinsam planen und schlüsselfertig umsetzen möchten.</li>
                    <li><strong>Effiziente Schnittstelle für schnelle Veröffentlichung:</strong> Alle Inhalte können
                        schnell und effizient über eine Schnittstelle eingepflegt werden, sodass Ihre Projekte oft
                        innerhalb von Minuten weltweit erreichbar sind.</li>
                    <li><strong>Optimale Übersetzung in neun Sprachen:</strong> 123-Kroatien.eu bietet eine optimale
                        Übersetzung in neun Sprachen an, was den Abverkauf der Objekte positiv befeuert und Ihre
                        Reichweite erheblich steigert.</li>
                </ol>

                <h5>Jetzt Kostenfrei Registrieren:</h5>
                <p>Registrieren Sie sich jetzt völlig kostenfrei auf <strong>123-Kroatien.eu</strong> und
                    präsentieren Sie Ihr Bauunternehmen exklusiv. Nutzen Sie spielend einfach die Möglichkeit, Ihre
                    Projekte hochzuladen, inklusive Ihres Firmenlogos, Ihrer Adresse und sämtlicher Kontaktdaten.
                    Zusätzlich bieten wir die Option, ein persönliches Profilbild des Ansprechpartners hinzuzufügen.
                    Wir glauben an eine transparente und kostenfreie Vermarktung im Baugewerbe. Machen Sie mit und
                    zeigen Sie sich international von Ihrer besten Seite auf <strong>123-Kroatien.eu</strong>. Ihr
                    Erfolg ist unser Antrieb!</p>
                <a href="{% url 'main:realestate-contractor-registration' %}"
                    style="text-decoration: none;">
                    <button type="submit"
                        style="border-radius: 0px; color: white; background-color: #003167;padding: 10px 90px;">Registrieren</button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-gradient py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9">
          <h2 class="text-uppercase text-light">ZUFRIEDENHEIT GARANTIERT</h2>
          <p class="text-capitalize text-light">
            Vertrauen Sie Auf Das Engagierte Team Von 123-Kroatien.Eu Für Ihre Immobilienanliegen In Kroatien.
          </p>
        </div>
        {% comment %}
        <div class="col-lg-3">
          <a href="#" class="btn btn-light text-uppercase"
            >{{requestquote}} <i class="fa fa-angle-right ml-3 arrow-btn"></i
          ></a>
        </div>
        {% endcomment %}
      </div>
    </div>
  </section>
  <!-- END CALL TO ACTION -->
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img
          src="{% static 'images/logo-black2.png' %}"
          alt="logo"
          style="width: 255px; padding: 20px 0"
        />
      </div>
    </div>
  </div>
{% endblock body %}