{% extends 'include/base.html' %} {% load static %} {% block body %}
<header>
  <div class="cancelPolicyBg bg-theme-overlay">
    <section class="section__breadcrumb">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-capitalize text-white">Widerrufsbelehrung</h2>
            {% comment %}
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html" class="text-white"> {{ Home }} </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white"> Blog details </a>
              </li>
            </ul>
            {% endcomment %}
          </div>
        </div>
      </div>
    </section>
  </div>
</header>

<section class="bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h5>Widerrufsformular</h5>
        <p>
          (Wenn Sie den Vertrag widerrufen wollen, füllen Sie bitte dieses
          Formular aus und senden Sie es zurück.)
        </p>
        <h5>An:</h5>
        <p>123-Kroatien.eu</p>
        <p>
          E-Mail:
          <a href="mailto:widerruf@123-kroatien.eu">widerruf@123-kroatien.eu</a>
        </p>

        <p>
          Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen
          Vertrag über den Kauf der folgenden Waren (*)/die Erbringung der
          folgenden Dienstleistung (*)
        </p>
        <p>
          Bestellt am(*).............................. / erhalten
          am(*)..............................
        </p>

        <p>
          Name des/der
          Verbraucher(s)..................................................................
        </p>

        <p>
          Anschrift des/der
          Verbraucher(s).............................................................
        </p>
        <p>
          .............................................................................................
        </p>

        <p>
          Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)
          .............................................................................
        </p>
        <p></p>
        <p>Datum..................................</p>

        <p>(*) Unzutreffendes streichen.</p>
        <br />

        <a
          href="https://glamlunaire.com/images/widerruf.pdf"
          download="widerruf.pdf"
          style="
            background-color: #003167;
            color: white;
            padding: 10px 20px;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          "
          >Herunterladen</a
        >
      </div>
    </div>
  </div>
</section>

<section class="bg-gradient py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9">
        <h2 class="text-uppercase text-light">
          WIR GARANTIEREN IHNEN HÖCHSTE VERTRAULICHKEIT UND TRANSPARENZ.
        </h2>
        <p class="text-capitalize text-light">
          Gerne Informieren Wir Sie Diskret Über Den Aktuellen Wert Ihrer
          Immobilie Und Unterstützen Sie Bei Der Suche Nach Einem Passenden
          Käufer.
        </p>
      </div>
      {% comment %}
      <div class="col-lg-3">
        <a href="#" class="btn btn-light text-uppercase"
          >{{requestquote}} <i class="fa fa-angle-right ml-3 arrow-btn"></i
        ></a>
      </div>
      {% endcomment %}
    </div>
  </div>
</section>
<!-- END CALL TO ACTION -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <img
        src="{% static 'images/logo-black2.png' %}"
        alt="logo"
        style="width: 255px; padding: 20px 0"
      />
    </div>
  </div>
</div>
{% endblock %}
