{% load static %}
<section class="blog__home bg-white">
    <div class="container bg-light pb-5">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- BLOG  -->
                <div class="card__image">
                    <div class="card__image-header h-250">
                        <img src="{% static 'images/news1.svg' %}" alt="" class="img-fluid w100 img-transition">
                        <div class="info"> event</div>
                    </div>
                    <div class="card__image-body">
                        <!-- <span class="badge badge-secondary p-1 text-capitalize mb-3">May 08, 2019 </span> -->
                        <h6 class="">
                            <a href="{% url 'main:bolg-single-1' %}">Entdecken Sie Ihr Traumobjekt im bezaubernden europäischen Land, Kroatien.</a>
                        </h6>
                        <p class=" mb-0">
                            123-Kroatien.eu, das ultimative Portal mit einem großen Überblick kroatischer Immobilien. Von Grundstücken, Apartments, Häusern und Villen bis hin zu Neubauten – hier finden Sie alles, was Ihr Herz begehrt. Kroatien bietet nicht nur atemberaubende Landschaften, sondern auch eine reiche Geschichte und unzählige Möglichkeiten für Ihren Lebensstil. Durchstöbern Sie unser Angebot und lassen Sie sich von der Vielfalt und Schönheit Kroatiens inspirieren.

                        </p>


                    </div>
                    <div class="card__image-footer">
                         <!--  <figure>
                            <img src="images/p2.png" alt="" class="img-fluid rounded-circle">
                        </figure>
                        <ul class="list-inline my-auto">
                            <li class="list-inline-item ">
                                <a href="#">
                                    tom wilson
                                </a>-->

                            </li>

                        </ul>
                        <ul class="list-inline my-auto ml-auto">
                            <li class="list-inline-item ">
                                <a href="{% url 'main:bolg-single-1' %}" class="btn btn-sm btn-primary bg-logo2"><small
                                        class="text-white ">Mehr lesen <i
                                            class="fa fa-angle-right ml-1"></i></small></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END BLOG -->
            </div>
            <div class="col-md-4">
                <!-- BLOG  -->
                <div class="card__image">
                    <div class="card__image-header h-250">
                        <img src="{% static 'images/news2.svg' %}" alt="" class="img-fluid w100 img-transition">
                        <div class="info"> Top News</div>
                    </div>
                    <div class="card__image-body">
                        <!-- <span class="badge badge-secondary p-1 text-capitalize mb-3">May 08, 2019 </span> -->
                        <h6 class="">
                            <a href="{% url 'main:bolg-single-2' %}">Das Tor zu Ihrer Wunschimmobilie in Kroatien </a>
                        </h6>
                        <p class=" mb-0">
                            Die Neueröffnung von 123-Kroatien.eu verspricht eine revolutionäre Veränderung auf dem Immobilienmarkt Kroatiens. Als eine der führenden Destinationen in Europa zieht Kroatien mit seinen atemberaubenden Landschaften, dem gesunden Klima und der friedlichen Idylle immer mehr Menschen an, die ihren Lebensmittelpunkt hierher verlagern möchten.

                        </p>


                    </div>
                    <div class="card__image-footer">
                       <!--   <figure>
                            <img src="images/p4.png" alt="" class="img-fluid rounded-circle">
                        </figure>
                        <ul class="list-inline my-auto">
                            <li class="list-inline-item">
                                <a href="#">
                                    tom wilson
                                </a>-->

                            </li>

                        </ul>
                        <ul class="list-inline my-auto ml-auto">
                            <li class="list-inline-item">
                                <a href="{% url 'main:bolg-single-2' %}" class="btn btn-sm btn-primary bg-logo2"><small class="text-white ">Mehr lesen <i
                                            class="fa fa-angle-right ml-1"></i></small></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- END BLOG -->
            </div>
            <div class="col-md-4">
                <!-- BLOG  -->
                <div class="card__image">
                    <div class="card__image-header h-250">
                        <img src="{% static 'images/news3.svg' %}" alt="" class="img-fluid w100 img-transition">
                        <div class="info"> event</div>
                    </div>
                    <div class="card__image-body">
                        <!-- <span class="badge badge-secondary p-1 text-capitalize mb-3">May 08, 2019 </span> -->
                        <h6 class="">
                            <a href="{% url 'main:bolg-single-3' %}">kroatien als Lebensmittelpunkt  </a>
                        </h6>
                        <p class=" mb-0">
                            Eine Oase für Lebensqualität und Naturschönheit

                            Kroatien erfreut sich nicht nur als beliebtes Urlaubsziel großer Beliebtheit, sondern wird auch zunehmend als attraktiver Lebensmittelpunkt für Menschen aus aller Welt angesehen. Mit einer Fülle positiver Aspekte lockt dieses mediterrane Land Jahr für Jahr eine wachsende Anzahl von Einwanderern an, die hier ein neues Zuhause suchen.

                        </p>
                    </div>
                    <div class="card__image-footer">
                      <!--   <figure>
                            <img src="images/p6.png" alt="" class="img-fluid rounded-circle">
                        </figure> 
                        <ul class="list-inline  my-auto">
                            <li class="list-inline-item">
                                <a href="#">
                                    tom wilson
                                </a>-->
                            </li>
                        </ul>
                        <ul class="list-inline  my-auto ml-auto">
                            <li class="list-inline-item">
                                <a href="{% url 'main:bolg-single-3' %}" class="btn btn-sm btn-primary bg-logo2"><small class="text-white">Mehr lesen <i
                                            class="fa fa-angle-right ml-1"></i></small></a>
                            </li>                                                                                                                                                                                           
                        </ul>
                    </div>
                </div>
                <!-- END BLOG -->
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 0;">
    <div class="bg-white">
        <div class="container">
            
                <h6>Presseanfragen stellen Sie bitte über unser Kontaktformular, vielen Dank!</h6>
                <!-- <a href="https://glamlunaire.com/kontakt.html" class="btn-register">KONTAKT</a> -->
                <br>
                <a  href="{% url 'main:contact' %}"><button type="button" style="border-radius: 0px; color: white; background-color: #003167; padding: 10px 90px;">KONTAKT</button></a>

                <aside>
                    <div class="widget__sidebar">
                        <div class="widget__sidebar__header">
                            <h6 class="text-capitalize">tags</h6>
                        </div>
                        <div class="widget__sidebar__body">
                            <div class="blog__tags p-0">
                                <ul class="list-inline">

                                    <li class="list-inline-item">
                                        <a href="#">
                                            #property
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            #wfh
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            #estate
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            #real estate
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            #listing
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            #rent
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            #sell
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">
                                            #family
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            #happy
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">
                                            #agents
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">
                                            #promo
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>

                    </div>
                </aside>
        </div>
    </div>
</section>