.topbar {
  background: #e41f0e;
  background: linear-gradient(90deg, #94041e 0%, #d1343c 61%, #ff0000 100%);
}
.phone {
  color: #fff;
  text-decoration: none;
}
.phone:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.img-header {
  width: 12px;
}

.bg-outline-mybtn {
  border-color: #013565;
}

.bg-mybtn {
  background-color: #013565;
}

.bg-mycolor {
  background-color: #013565;
  border-color: #013565;
}

.text-mycolor {
  color: #013565;
}

.txtRed {
  color: #db0000;
}

.bg-logo2 {
  background-color: #013565;
  color: #fff;
}

.bg-gradient {
  background: linear-gradient(90deg, #dc3545 10%, #dc3545 100%);
}

.comCopy {
  color: #fff;
  text-decoration: none;
}

.myFooterBg {
  background-color: #003167;
}

.myHeaderBg {
  background-image: url("../images/contact-headerBg.jpg");
}

.faqHeaderBg {
  background-image: url("../images/about.jpg");
}

.registrationBg {
  background-image: url("../images/bg15.png");
}

.nav-item .bgColor.active {
  background-color: #013565;
}

.nav-item .bgColor {
  color: #013565;
}

.download__item:hover {
  background-color: #013565;
  border-color: #013565;
}

.badgeColor {
  background-color: #013565;
  color: #fff;
}

.list-inline .list-inline-item a:hover {
  background-color: #013565;
}

/*.bg-gradient{
	background:linear-gradient(90deg, #883030 0%, #d13437 61%, #ff0000 100%);
}
*/

.myCard {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);

  padding: 18px 18px;
  text-align: center;
}

.myIcon {
  font-size: 48px;
  color: #c82333;
  padding: 22px;
}

.myCard:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.list-inline-item {
  color: white;
}

.bg-topnav {
  background: linear-gradient(90deg, #d13437 10%, #d13437 100%);
}

/**/
.lang-drop {
  background-color: #d13437;
  color: #fff;
  border-color: #fff;
  padding: 1px 6px 0 6px;
}

.lang-op:after {
  border-color: #fff;
}

.lang-op {
  border-color: #fff;
  border: 1px solid #fff;
  padding: 8px;
}

.facebook:hover {
  color: rgba(255, 255, 255, 1);
}

.photo {
  height: 50px;
  width: 100%;
}

.form-size {
  height: 44px;
  border-radius: 0;
  border-color: #f1f1f1;
  font-size: 16px;
}

.form--title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 50px;
}

.socialIcon {
  padding: 6px;
}

.socialIcon:hover {
  color: #fff;
  background-color: #013565;
}

.nav-pills .nav-item .nav-link.active {
  background-color: #013565;
  color: #fff;
}

.nav-pills .nav-item .nav-link {
  color: #013565;
}

.form-group .filter__price .irs-bar {
  background-color: #013565 !important;
}

.form-group .filter__price .irs-handle {
  background-color: #013565 !important;
}

.form-group .filter__price .irs-from {
  background-color: #013565 !important;
}
.form-group .filter__price .irs-to {
  background-color: #013565 !important;
}

.owl-nav button {
  background-color: #013565 !important;
}

.owl-nav button:hover {
  background-color: red !important;
}

.blogLink {
  color: #013565 !important;
}

.blogLink:hover {
  color: #013565 !important;
  background-color: #fff !important;
}

.rightNav {
  position: absolute;
  margin-top: 50;
  top: 0;
  padding-top: 20px;
  border-color: #fff !important;
  right: 0 !important;
}

.bg-lightRed {
  background-color: rgba(255, 0, 0, 0.1);
}
/* All Button modified*/
.btn-outline-blue {
  background-color: #013565 !important;
  border: 3px solid #013565 !important;
}

.btn-outline-blue:hover {
  background-color: #fff !important;
  color: #013565;
}

.btn-outline-white {
  border: 2px solid #013565 !important;
  color: #013565 !important;
}

.btn-outline-white:hover {
  background-color: #013565 !important;
  color: #fff !important;
}

/* language selection
.vodiapicker{
  display: none; 
}

#a{
  padding-left: 0px;
}

#a img, .btn-select img{
  width: 12px;
  
}

#a li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#a li:hover{
 background-color: #F4F3F3;
}

#a li img{
  margin: 5px;
}

#a li span, .btn-select li span{
  margin-left: 30px;
}

/* item list */

.b {
  display: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.btn-select {
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.btn-select li {
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.btn-select:hover li {
  margin-left: 0px;
}

.btn-select:hover {
  background-color: #f4f3f3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
}

.btn-select:focus {
  outline: none;
}

.lang-select {
  margin-left: 20px;
}

.bg-theme-overlay {
  width: 100%;
  background-position: center 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .bg-theme-overlay {
	background-position: center 0%;
	background-size: cover;
    background-attachment: local;
	background-repeat: no-repeat;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .bg-theme-overlay {
	background-position: center 0%;
	background-size: cover;
    background-attachment: local;
	background-repeat: no-repeat;
  }
}

.title__leading summary {
  font-weight: bold; font-size: 20px;
}

.title__leading details {
  margin-bottom: 2.5rem;
}


